public static class {{name}} extends Contract {
   public static interface API extends
      {{handlers}}
      {}
      
   public void addMessages(StructureFactory factory, int dynamicId) {
      {{adds}}
   }
}
   