public {{javatype}} {{name}};
{{name}} = {{default}};
case {{tag}}: {{name}} = data.read_{{type}}(tag); break;
data.write({{tag}}, {{name}});
 
Lines are: 1) declaration 2) initialization 3) read 4) write
