public {{javatype}}[] {{name}};
{{name}} = {{default}};
case {{tag}}: {{name}} = data.read_{{type}}_array(tag); break;
if ({{name}} != null) data.write({{tag}}, {{name}});

Lines are: 1) declaration 2) initialization 3) read 4) write
