<included>

   <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>logs/${APPNAME}.log</file>
      <rollingPolicy
         class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <!-- rollover daily -->
         <fileNamePattern>logs/${APPNAME}-%d{yyyy-MM-dd}.%i.log
         </fileNamePattern>
         <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
            <maxFileSize>50MB</maxFileSize>
         </timeBasedFileNamingAndTriggeringPolicy>
         <maxHistory>10</maxHistory>
      </rollingPolicy>
      <encoder>
         <pattern>%-5level %d{HH:mm:ss.SSS} %24thread{24} - %16logger{0} - %msg%n</pattern>
      </encoder>
   </appender>
   
   <root level="DEBUG">
      <appender-ref ref="FILE" />
      <appender-ref ref="BUFFER" />
   </root>

   <logger name="io.netty" level="INFO" />
   <logger name="com.hazelcast" level="WARN" />
   <logger name="NodeMulticastListener" level="WARN" />
   <logger name="io.tetrapod.core.Session" level="INFO" />
   <logger name="io.tetrapod.core.SQLMapStore" level="INFO" />
   <logger name="comms" level="INFO" />

</included>