<configuration debug="false" scan="true" scanPeriod="30 seconds">

	<timestamp key="bySecond" datePattern="yyMMddHHmmss" />

	<appender name="COMMS" class="ch.qos.logback.classic.sift.SiftingAppender">
		<!-- wrapping in a sifting appender means empty files are not created -->
		<discriminator>
			<key>xx</key>
			<defaultValue>1</defaultValue>
		</discriminator>
		<sift>
			<appender name="COMMS${xx}" class="ch.qos.logback.core.FileAppender">
				<file>logs/${APPNAME}.${bySecond}.log</file>
				<encoder>
					<pattern>%d{HH:mm:ss.SSS} %msg%n</pattern>
				</encoder>
			</appender>
		</sift>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-5level %d{HH:mm:ss.SSS} %24thread{24} - %16logger{0} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>

	<logger name="io.netty" level="INFO" />
	<logger name="com.hazelcast" level="WARN" />
	<logger name="NodeMulticastListener" level="WARN" />
	<logger name="io.tetrapod.core.Session" level="DEBUG" />
	<logger name="io.tetrapod.core.SQLMapStore" level="DEBUG" />

	<logger name="comms" additivity="false" level="OFF">
		<appender-ref ref="COMMS" />
	</logger>

</configuration>