<configuration debug="false" scan="false" scanPeriod="30 seconds">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-5level %d{HH:mm:ss.SSS} [%thread{24}] %logger{24} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>

	<logger name="io.netty" level="INFO" />
	<logger name="io.tetrapod.core.Session" level="DEBUG" />


</configuration>