define(function() { return TP_{{name}} });

function TP_{{name}}(server) {

   server.register("response", "Tetrapod", "ERROR", 1, 1);
   server.register("response", "Tetrapod", "SUCCESS", 1, 2);

   {{constants}}
   
   {{errors}}
   
   {{register}}

}