h3 {
	margin: 5px;
	padding: 2px;
	font-size: 18px;
}

li.disabled {
	margin-top: -5px;
	margin-bottom: 10px;
	font-size: 0.8em;
	background-color: #d5d5d5;
}

.request-stats-dialog {
	width: 750px;
}

.request-stats {
	margin-top: 10px;
}

.request-stats th {
	cursor: pointer;
	background: #666;
	color: #fff;
	text-align: center;
}

.request-stats td {
	vertical-align: middle;
	font-size: 90%;
	padding: 0px 1px;
}

.cell-label {
	padding: 2px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 300px;
}

.cell-label a {
	cursor: pointer;
}

meter {
	padding-left: 1px;
	padding-right: 1px;
	width: 50px;
}

#cluster-table {
	margin: 5px;
	background: white;
}

#cluster-table th {
	background: #666;
	color: #fff;
	text-align: center;
}

#cluster-table td {
	font-size: 90%;
	padding: 0px 1px;
	vertical-align: middle;
	white-space: nowrap;
}

.righted {
	text-align: right;
}

.centered {
	text-align: center;
}

.running {
	background: green;
	color: white;
}

.passive {
	background: #599;
	color: white;
}

.gone-row {
	opacity: 0.3;
}

.gone-row .dropdown {
	opacity: 1.0;
}

.gone {
	background: red;
	color: white;
}

.overloaded {
	background: orange;
}

.failed {
	background: orange;
	color: yellow;
}

.stopping {
	background: #fdd;
	color: #a88;
}

.selected {
	background: #FFFFE0;
}

.starting {
	background: #eee;
	color: #999;
}

.paused {
	background: yellow;
}

.dropdown-service {
	right: auto;
	left: 0;
}

.service-icon {
	width: 16px;
	height: 16px;
	margin-left: 3px;
}

.service-fa {
	margin-left: 3px;
}

.service-name {
	font-weight: bold;
	margin-left: 3px;
}

.service-chart-wrap {
	cursor: pointer;
	position: relative;
	width: 80px;
	padding: 0px;
	padding-left: 0px;
	padding-right: 0px;
	position: relative;
}

.service-chart {
	height: 42px;
	padding: 0px;
	margin: -7px;
}

.service-chart-val {
	text-shadow: 1px 1px 1px rgba(150, 150, 150, .5);
	text-align: center;
	position: absolute;
	top: 6px;
	left: 0;
	width: 100%
}

.alert {
	margin-top: 20px;
}

.dropdown-menu {
	text-align: left;
}

#page-wrapper {
	margin: 10px;
	padding: 10px;
}

#login-form {
	width: 320px;
	padding: 20px;
	margin: 20px;
	border-radius: 10px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, .20);
	background: white;
}

.service-details {
	padding: 5px;
	margin-bottom: 10px;
}

.service-metrics {
	text-align: left;
	display: inline-block;
}

.service-metrics .stat {
	margin-left: 20px;
	margin-right: 20px;
}

.service-metrics dt {
	margin-top: 10px;
	font-weight: bold;
}

.service-metrics dd {
	margin-left: 25px;
}

.metric-value {
	vertical-align: middle;
}

.service-logs {
	border: 1px solid #eee;
	margin: 10px;
	padding: 4px;
	overflow: auto;
	height: 200px;
	resize: vertical;
	font-family: monospace;
	font-size: 11px;
	height: 200px;
}

.service-logs ul {
	padding: 0px;
	margin: 0px;
	width: 100%;
	list-style: none;
	max-width: 800px;
}

.service-logs-msg {
	white-space: pre;
}

.service-details-footer {
	padding-left: 20px;
	padding-right: 20px;
}

.service-logs-options {
	display: inline-block;
}

.service-error-logs-dialog {
	width: 80%;
}

.clear-errors-btn {
	float: left;
	color: #eee;
}

.clear-errors-btn:HOVER {
	color: #aaa;
}

.tab-content {
	padding: 10px;
	border-bottom: 1px solid #eee;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.trace {
	color: #cc7;
}

.debug {
	color: blue;
}

.info {
	color: #666;
}

.warn {
	color: #a66;
}

.error {
	color: red;
}

.form-table {
	margin-left: auto;
	margin-right: auto;
}

.form-table td {
	padding: 3px;
}

.form-label {
	font-weight: bold;
	text-align: right;
}

.prod {
	background: repeating-linear-gradient(-45deg, yellow, yellow 25%, black 25%, black
		50%, yellow 50%) top left fixed;
	background-size: 20px 20px;
	min-height: 20px;
}

#cluster-view {
	background: white;
}

.host {
	vertical-align: middle;
	border-radius: 5px;
	background: #eee;
	padding: 6px;
	background: #eee;
	border-radius: 4px;
}

.host-header {
	padding: 5px;
	display: table;
}

.host-name {
	vertical-align: middle;
	display: table-cell;
	padding-left: 20px;
	padding-right: 20px;
}

.host-alarms {
	vertical-align: middle;
	display: table-cell;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 4px;
}

.host-alarms:HOVER {
	background: #ddd;
}

.host-info {
	font-size: 18px;
	display: table-row;
	font-weight: bold;
	padding-right: 10px;
	padding-left: 10px;
}

.host-info .metric {
	display: table-cell;
	padding-left: 20px;
	padding-right: 20px;
	color: #666;
}

.chart-wrap {
	display: inline-block;
	position: relative;
	width: 200px;
	padding: 0px;
	border: 1px solid #ccc;
}

.chart {
	height: 52px;
	padding: 0px;
	margin: -8px;
}

.chart-val {
	text-shadow: 1px 1px 1px rgba(150, 150, 150, .5);
	text-align: center;
	position: absolute;
	top: 8px;
	left: 0;
	width: 100%
}

#raft-table {
	font-size: 90%;
	padding: 5px;
	background: white;
}

#raft-table th {
	background: #666;
	color: #fff;
	text-align: center;
}

#raft-table td {
	padding: 2px 3px;
	vertical-align: middle;
	white-space: nowrap;
}

#props-table {
	margin: 5px;
	background: white;
}

#props-table th {
	background: #666;
	color: #fff;
	text-align: center;
}

#props-table td {
	padding: 1px 4px;
	vertical-align: middle;
	white-space: nowrap;
}

#props-table .btn {
	color: #aaa;
}

#props-table .btn:HOVER {
	color: #000;
}

.property {
	font-family: monospace;
}

.webroots .btn {
	color: #aaa;
}

.webroots .btn:HOVER {
	color: #000;
}

.rights label {
	font-size: 11px;
	font-style: normal;
	padding-right: 10px;
	padding-left: 10px;
}

.service-histogram-wrap {
	text-align: center;
	border: 1px solid #eee;
	margin: 10px;
	cursor: pointer;
}

.service-histogram {
	height: 100px;
	width: 700px;
	padding: 0px;
}

.stats-column {
	vertical-align: top;
}

.rpc-selected-stat {
	white-space: normal;
}

.btn-maint.active {
	background-color: green;
	color: white;
}
