#cluster-table {
	margin: 5px;
	background: white;
}

#cluster-table th {
	background: #000;
	color: #fff;
	text-align: center;
}

#cluster-table td {
	font-size: 90%;
	padding: 0px 1px;
	vertical-align: middle;
	white-space: nowrap;
}

.righted {
	text-align: right;
}

.centered {
	text-align: center;
}

.running {
	background: green;
	color: white;
}

.passive {
	background: #599;
	color: white;
}

.gone {
	background: red;
	color: white;
}

.failed {
	background: orange;
	color: yellow;
}

.stopping {
	background: #fdd;
	color: #a88;
}

.selected { 
   background: #FFFFE0;
} 

.starting {
	background: #eee;
	color: #999;
}

.paused {
	background: yellow;
}

.dropdown-service {
	right: auto;
	left: 0;
}

.service-icon {
	width: 16px;
	height: 16px;
	margin-left: 3px;
}

.service-fa {
	margin-left: 3px;
}

.service-name {
	font-weight: bold;
	margin-left: 3px;
}

.service-chart-wrap {
	position: relative;
	width: 80px;
	padding: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.service-chart {
	height: 42px;
	padding: 0px;
	margin: -7px;
}

.service-chart-val {
	text-shadow: 1px 1px 1px rgba(150, 150, 150, .5);
	text-align: center;
	position: absolute;
	top: 6px;
	left: 0;
	width: 100%
}

.alert {
	margin-top: 20px;
}

.dropdown-menu {
	text-align: left;
}

#page-wrapper {
	margin: 10px;
	padding: 10px;
}

#login-form {
	width: 320px;
	padding: 20px;
	margin: 20px;
	border-radius: 10px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, .20);
	background: white;
}

.service-details {
	padding: 5px;
	margin-bottom: 10px;
}

.service-metrics {
	min-height: 250px;
}

.service-metrics dt {
	margin-top: 10px;
	font-weight: bold;
}

.service-metrics dd {
	margin-left: 25px;
}

.metric-value {
	vertical-align: middle;
}

.service-logs {
	border: 1px solid #eee;
	margin: 10px;
	padding: 4px;
	overflow: auto;
	height: 200px;
	resize: vertical;
	font-family: monospace;
	font-size: 11px;
	height: 200px;
}

.service-logs ul {
	padding: 0px;
	margin: 0px;
	width: 100%;
	list-style: none;
	max-width: 800px;
}

.service-logs-msg {
	white-space: pre;
}

.service-logs-options {
	padding-left: 20px;
	padding-right: 20px;
}

.service-error-logs-dialog {
	width: 80%;
}

.tab-content {
	padding: 10px;
	border-bottom: 1px solid #eee;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.trace {
	color: #cc7;
}

.debug {
	color: blue;
}

.info {
	color: #666;
}

.warn {
	color: #a66;
}

.error {
	color: red;
}

.form-table {
	margin-left: auto;
	margin-right: auto;
}

.form-table td {
	padding: 3px;
}

.form-label {
	font-weight: bold;
	text-align: right;
}

.prod {
	background: repeating-linear-gradient(-45deg, yellow, yellow 25%, black 25%, black
		50%, yellow 50%) top left fixed;
	background-size: 20px 20px;
}

.host {
	vertical-align: middle;
	border-radius: 5px;
	background: #eee;
	padding: 6px;
	background: #eee;
	border-radius: 4px;
}

.host-header {
	padding: 5px;
	display: table;
}

.host-name {
	vertical-align: middle;
	display: table-cell;
   padding-left: 20px;
   padding-right: 20px;
}

.host-info {
	font-size: 18px;
	display: table-row;
	font-weight: bold;
	padding-right: 10px;
	padding-left: 10px;
}

.host-info .metric {
	display: table-cell;
	padding-left: 20px;
	padding-right: 20px;
	color: #666;
}

.chart-wrap {
	display: inline-block;
	position: relative;
	width: 200px;
	padding: 0px;
	border: 1px solid #ccc;
}

.chart {
	height: 52px;
	padding: 0px;
	margin: -8px;
}

.chart-val {
	text-shadow: 1px 1px 1px rgba(150, 150, 150, .5);
	text-align: center;
	position: absolute;
	top: 8px;
	left: 0;
	width: 100%
}