public {{javatype}} {{name}};
{{name}} = {{javatype}}.on(0);
case {{tag}}: this.{{name}} = {{javatype}}.on(data.read_{{interiortype}}(tag)); break;
data.write({{tag}}, this.{{name}} == null ? ({{interiortype}})0 : this.{{name}}.value);
{{javatype}} {{name}}
this.{{name}} = {{name}};

Lines are: 1) declaration 2) initialization 3) read 4) write 5) constructor declaration 6) constructor initilizer 

