<included>

   <appender name="LOGFILEPID" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>logs/${APPNAME}.log</file>

      <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
         <fileNamePattern>logs/${APPNAME}.%i.log.gz</fileNamePattern>
         <minIndex>1</minIndex>
         <maxIndex>5</maxIndex>
      </rollingPolicy>

      <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
         <maxFileSize>10MB</maxFileSize>
      </triggeringPolicy>
      
      <encoder>
         <pattern>%d %-5level %24thread{24} - %16logger{0} - %msg%n</pattern>
      </encoder>
   </appender>
   
   <appender name="COMMSFILEPID" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>logs/comms.${APPNAME}.log</file>

      <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
         <fileNamePattern>logs/comms.${APPNAME}.%i.log.gz
         </fileNamePattern>
         <minIndex>1</minIndex>
         <maxIndex>5</maxIndex>
      </rollingPolicy>

      <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
         <maxFileSize>10MB</maxFileSize>
      </triggeringPolicy>
      
      <encoder>
         <pattern>%d %-5level %24thread{24} - %16logger{0} - %msg%n</pattern>
      </encoder>
   </appender>

   <root level="DEBUG">
      <appender-ref ref="STDOUT" />
      <appender-ref ref="LOGFILEPID" />
      <appender-ref ref="BUFFER" />
   </root>

   <logger name="comms" level="DEBUG" additivity="false">
      <!-- additivity false means it does not show up in root -->
      <appender-ref ref="COMMSFILEPID" />
   </logger>
   
   <logger name="io.tetrapod.core.web.WebStaticFileHandler" level="INFO" />
   <logger name="io.netty" level="INFO" />
   <logger name="twitter4j" level="INFO" />
   <logger name="com.hazelcast" level="WARN" />
   <logger name="NodeMulticastListener" level="WARN" />
   
</included>