// tetrapod protocol file, requires tetrapod main file to have been loaded first

TP.register("response", "Tetrapod", "ERROR", 1, 1);
TP.register("response", "Tetrapod", "SUCCESS", 1, 2);

{{constants}}

{{errors}}

{{register}}
