// tetrapod protocol file, requires tetrapod main file to have been loaded first

TP.protocol = TP.protocol || { request: {}, response: {}, struct: {}, message: {}, consts: {} };

{{constants}}

{{errors}}

{{register}}
