
<button data-bind="click: function() { addClusterProperty(false); }">
   <i class="fa fa-fw fa-plus"></i> Add Property
</button>
<button data-bind="click: function() { addClusterProperty(true); }">
   <i class="fa fa-fw fa-lock"></i> Add Secret Property
</button>

<table id="props-table" class="table table-bordered table-condensed">
   <thead>
      <tr>
         <th>Key</th>
         <th>Value</th>
      </tr>
   </thead>
   <tbody data-bind="foreach: props" class="props">
      <tr>
         <td>
            <div data-bind="click: deleteProp" class="btn btn-sm">
               <span class="fa fa-fw fa-trash"></span>
            </div>
            <span data-bind="text: key" class="property"></span>
         </td>
         <td>
            <div data-bind="click: editValue" class="btn btn-sm">
               <span class="fa fa-fw fa-edit"></span>
            </div>

            <i data-bind="visible: secret" class="fa fa-fw fa-lock"></i>
            <span data-bind="text: val" class="property"></span>
            &nbsp;
         </td>
      </tr>
   </tbody>
</table>